

/*³¬Á´½ÓÑùÊ½*/
a:link {font-size:12px; text-decoration:none; color:#06527d;}
a:visited {font-size:12px; text-decoration:none; color:#06527d;}
a:hover {font-size:12px; text-decoration:underline; color:#FF0000;}

a.v1:link {font-size:12px; text-decoration:none; color:#000000;}
a.v1:visited {font-size:12px; text-decoration:none; color:#000000;}
a.v1:hover {font-size:12px; text-decoration:underline; color:#FF0000;}