html,body{height: 100%;}
.modify{ width:100%;/* height:100%;*//* background:url(../../images/esys/002.png) repeat; */}
.modify_main{ padding: 20px;}
.addTitle{font-size: 22px; color: #323232;}
.moist{ width:760px; margin-top:10px;}
.moist table{ empty-cells:show; border-collapse:collapse; table-layout:fixed}
.moist table tr{ height:40px; line-height:40px; font-size:16px;}
.moist table tr span{/* float:left; line-height:45px;*/}
.moist_left{ float:left}
.moisture{display: block;float: left; margin: 5px -8px 5px 10px;}
.mosquito{ float:left; width:414px; height:40px; line-height:40px;-webkit-border-radius:5px;-moz-border-radius:5px; border-radius:5px; border:1px #999999 solid; margin:5px 0 5px 10px}
.mosquito_txt{ width:404px; float:left; padding-left:10px; height:40px; line-height:40px; /* padding-bottom:5px; padding-top:5px; */ background:none; border:none; outline:none; font-size:16px; font-family:Microsoft YaHei}
.getchu{ color:#cccccc}
.getborder{ border:1px #cccccc solid}
.mosquito.getborder{ border:1px #cccccc solid}
.elephant,.embrace{ width:300px; height:42px;margin: 5px 0 5px 10px; position:relative; float:left}
.elephant-one{ width:125px; float:left; height:40px; line-height:40px;-webkit-border-radius:5px;-moz-border-radius: 5px;border-radius: 5px;border: 1px #b3b3b3 solid; position:relative;}
.date_txt{ width:115px; padding-left:10px; float:left; height:40px; line-height:40px; background:none; border:none; outline:none;    font-size: 16px;}
.elevator{display:block; position:absolute; right:6px;top:5px; cursor:pointer}
.embarrass{ float:left; margin:0 10px; color:#888888}
.motivate{ float:left; width:117px; height:40px; line-height:40px;-webkit-border-radius:5px;-moz-border-radius: 5px;border-radius: 5px; border:1px #b3b3b3 solid; margin:5px 0 5px -2px;}
.motivate_txt{ float:left; width:107px; padding-left:10px; height:40px; line-height:40px; background:none; border:none; outline:none; color:#cccccc; font-family:"瀵邦喛钂嬮梿鍛寸拨"; font-size:14px}
.add_new{ float:left; width:40px; height:40px; background:url(../../images/esys/fsvx01.png) no-repeat; display:block;margin: 5px 0 5px 5px;}
.mount{ float:left; margin-top:9px; margin-left: 20px;}
.mountain{ display:block; background:url(../../images/esys/204.png) left center no-repeat; color:#323232; line-height:28px; font-size:18px; padding-left:40px; float:left; margin-left:14px}
.muddy{ margin-top:26px; width:692px; position:relative;margin-left: 43px;}
.mug_pk{ float:left; color:#323232; font-size:16px}
.muddy{}
.mug{ float:left;margin-left: 11px;}
.mug table tr{ height:40px; line-height:40px; font-size:16px}
.mug table tr td{ border:1px #c5c0bc solid;}
.murder{ float:left;line-height: 32px;}
.murder_left{ float:left; width:88px; height:22px; line-height:22px; border:1px #c5c0bc solid;margin: 3px 0 3px 5px;}
.murder_txt{ width:88px; float:left; height:22px; line-height:22px; background:none; border:none; outline:none; font-family:"瀵邦喛钂嬮梿鍛寸拨"; text-align:center; color:#c5c0bc}
.muscle{ float:left;margin: 3px 0 0 5px;color:#c5c0bc; line-height:24px}
.museum{ position:absolute; bottom:0px; right:0px; display:block; width:104px; height:30px; line-height:30px; border:1px #eab779 solid; color:#e6a556; text-align:center; font-size:16px;}
.p_show1{ float:left; font-size:16px; color:#323232}
.edition{ margin-top:20px;}
.edition_con{ float:left; margin-top:30px;margin-left: 40px;}
.p_show2{ float:left;margin:0 10px 0 12px; display:block;/*  cursor:pointer; */ position:relative;width: 232px; height: 162px;; z-index:10; overflow:hidden}
.p_show3{float:left;font-size:16px; color:#999999;margin-top: 142px;}
.elect_main{ float:left; margin-top:20px}
.element_main{ float:left; margin-top:30px;margin-left: 40px;}
.eliminate-k{ float:left; width:390px; height:100px; border:1px #999999 solid;-webkit-border-radius:8px;-moz-border-radius:8px; border-radius:8px; overflow:hidden; }
.elsewhere{ width:392px;height:102px; color:#999999; background:none; border:none;outline:none; font-size:16px; font-family:Microsoft YaHei; padding:5px 0 0 5px; overflow: hidden;}
.emerge-btn{ width:110px; height:40px; float:left; border:none; background:url(../../images/esys/041.png) no-repeat; font-family:Microsoft YaHei; color:#e8a12e; font-size:16px; cursor:pointer; outline:none;margin-top: 60px;margin-left:20px;}
.emit-fbx{ float:left;margin-left: 12px;margin-top: 18px;}
.emperor{ width:317px;/*  height:39px; */ line-height:39px; float:left;}
.emperor_txt{ width:307px; height:39px; border:none; background:none; padding-left:10px; line-height:39px; text-align:center; float:left; font-family:Microsoft YaHei; font-size:16px; outline:none;}
.add_bxh{ width:114px; height:38px; line-height:38px; }
.add_bxh_txt{ width:114px; height:38px; line-height:38px; background:none; border:none; text-align:center; outline:none; font-size:16px; overflow:hidden; font-family:Microsoft YaHei}
.ahp,.newgetImg,.getkadd,.can_box{position:absolute; right:0; top:0;/* font-size:100px;*/ opacity:0; filter:alpha(opacity=0); font-size:50px}
.ahp{ width:232px; height:162px}
#ckImg2{float: left;width: 232px;margin-left: 12px;/* height: 162px; *//* display: none; */}
/* #ckImg2 img{margin-bottom: 10px} */
.encounter-xv{ float:left;width: 872px;}
.envelope-kxm{ float:left}
.setpro{ width:130px; height:49px; line-height:49px; text-align:center; background:url(../../images/esys/042.png) no-repeat; border:none; margin:0 auto; font-family:Microsoft YaHei; font-size:16px; color:#ffffff;margin-left: 265px;margin-top: 20px; outline:none; cursor:pointer}
.acceptable{ width:672px; float:left;}
.editor_kon,#getchan,.editor_kon3{float: right;display: block;font-size: 16px;background: url(../../images/esys/046.png) left center no-repeat;padding-left: 34px;line-height: 20px;height: 20px;margin-top: 4.5px;}
.accent-pskm{}
.absorb-over{display: block;float: left;margin:5px 0 0 5px;width: 23px; height: 23px;}
.ability-fox{ float:left;margin-bottom: 4px;}
.motor_top{ width:672px;}
@font-face {font-family: 'iconfont';
    src: url('iconfont.eot'); /* IE9*/
    src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont.woff') format('woff'), /* chrome閵嗕公irefox */
    url('iconfont.ttf') format('truetype'), /* chrome閵嗕公irefox閵嗕狗pera閵嗕讣afari, Android, iOS 4.2+*/
    url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.iconfont{
    font-family:"iconfont" !important;
    font-size:16px;font-style:normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;}
.iconfont.geticon{ font-size:35px; color:#ffd447}
.admire,.admire5{/* float:left;*/ display:block; margin:56px 0 0 20px; position:relative; height:38px; line-height:38px; width:100px; visibility:hidden}
.admire-up{ font-size:16px; color:#ffd447;}
.admit_div{ float:left}
.adverb-div{ width:222px; min-height:116px; float:left; background:#e6e3e1; padding:5px; margin:0 10px 0 12px}
.adverb_ul{ width:230px; margin-left:-3px;}
.adverb_ul li{ float:left; margin:3px 7px 3px 7px; position:relative; z-index:10}
.sement-del{ position:absolute;display:none;top:-5px; right:-5px; z-index:20;-webkit-transition:all 1s ease;-moz-transition:all 1s ease;-o-transition:all 1s ease; transition:all 1s ease; width:20px; height:20px;}
.sement-del:hover{-webkit-transform:rotate(180deg);-moz-transform:rotate(180deg);-o-transform:rotate(180deg); transform:rotate(180deg)}
.getkadd{font-size:30px}
.gth{ margin-left: 0}

/*********閼奉亣鎯�惔妤呮懙鐠囷附鍎�***********/
.gethm{ height:50px; line-height:50px;}
.gethm-font{font-size: 16px;line-height: 50px;float: left;height: 50px;display: block;}
.hyato{ float:left; width:568px; height:257px;-webkit-border-radius:8px;-moz-border-radius:8px; border-radius:8px; overflow:hidden; border:1px #999999 solid; padding-top:10px;margin-top: 12px;}
.hyato-txt{ border:none; background:none; outline:none; font-family:Microsoft YaHei; font-size:16px;    width: 568px;height: 257px;padding: 0 20px;}
.cdjs{ float:left; margin-top:18px;}
.pro_name{ float:left; height:40px; line-height:40px;margin-top: 20px;}
.pro_kl{ float:left; font-size:16px;}
.pro_div{ float:left; width:246px; height:40px; line-height:40px;-webkit-border-radius: 5px;-moz-border-radius: 5px;
border-radius: 5px; border:1px #999999 solid; padding-left:10px;}
.pro_txt{ float:left; height:40px; line-height:40px; background:none; border:none; width:100%; font-family:Microsoft YaHei; font-size:16px; outline:none}
.fhouse{ display:block; width:28px; height:28px; float:left; margin:8px 0 0 8px; cursor:pointer}
.detimg{ float:left; margin-top: 20px;}
.canbv{float:left;width:232px; height:162px; position:relative}
/*******閻€劍鍩涚粻锛勬倞-閺夊啴妾虹紓鏍у晸*********/
.ogre{ line-height:50px; height:50px;}
.ogre-span{font-size:16px;line-height:50px;float:left;height:50px;display:block;}
.ogre-div{float: left;width:175px;height: 40px;line-height: 40px;-webkit-border-radius: 5px;-moz-border-radius: 5px;
border-radius: 5px;border: 1px #999999 solid;margin: 5px 0 5px 10px;}
.ogre-txt{ float:left; width:165px; height:42px; line-height: 42px; background:none; border:none; outline:none; padding-left:10px; font-size:16px;font-family:Microsoft YaHei }
.ver-box{ float:left;}
.ver-area{ width:295px; height:125px; float:left;-webkit-border-radius: 5px;-moz-border-radius: 5px;
border-radius: 5px;border: 1px #999999 solid; margin-top:12px;margin-left: 10px; padding-top:10px; overflow:hidden}
.oldox{ width:285px; height:135px; float:left; background:none; border:none; overflow:hidden; font-size:16px; font-family:Microsoft YaHei; padding-left:10px; outline:none;}
.platforms-tab{ width:700px; height:970px; float:left; margin:18px 0 0 10px;}
.getbix{ width:676px; background:#f8f1ea;padding: 16px 12px 16px 12px;float:left;}
.ch-box{ opacity:0;}
.beg{ float:left;margin: 5px 0;}
.default-ch,.default-all{ width:20px; display:block;height:20px; background-position:0 20px; float:left; background:url(../../images/esys/dix3.png) no-repeat; cursor:pointer;line-height: 20px; margin:1px 6px 0 6px;}
.bybox{ font-size:16px; float:left}
.bybox-nm{ font-size:16px; float:left; margin-left:8px;}
.getbix-white{ width:676px;padding:12px; background:#ffffff; float:left;}
.save-btn{ width:150px; height:45px; margin:0 auto;font-family:Microsoft YaHei; font-size:16px; text-align:center; background:url(../../images/esys/save-btn.png) no-repeat; border:none; outline:none; display:block; color:#ffffff; cursor:pointer; margin-top:40px}
.saveBtn{width:100px;height:38px;background:url(../../images/esys/save-xbtn.png) no-repeat; border:none; outline:none;cursor: pointer; font-family:Microsoft YaHei;font-size: 16px;color: white;margin: 0 auto; margin-top: 40px;display: block;  }
/*********鏉烆喗鎸辩拠锔藉剰*********/
.sort{ float:left; margin-left:40px; height:40px; line-height:40px; font-size:16px;}
.sort_div{ float:left; width:200px; height:38px; line-height:38px;-webkit-border-radius:5px;-moz-border-radius:5px; border-radius:5px; border:1px #999999 solid; padding-left:10px;}
.sort_txt{ width:100%; background:none; border:none; float:left; height:38px; line-height:38px; outline:none; font-size:16px;}
.sort_upload{ width:600px; height:270px; float:left; background:#e6e6e6; position:relative; z-index:10; overflow:hidden}
.click_up{ width:96px; background:url(../../images/esys/sort.png)  no-repeat; margin:0 auto; height:34px; text-align:center; font-size: 16px;padding-top: 90px;margin-top: 76px;color: #cccccc; position:relative;overflow:hidden;}
.click_file{ width:600px; height:270px; position:absolute; display:block; left:0;top:0;font-size:800px; /* 婢х偛銇囨稉宥呮倱濞村繗顬囬崳銊ф畱閸欘垳鍋ｉ崙璇插隘閸╋拷*/ opacity: 0; /* 鐎圭偟骞囬惃鍕彠闁款喚鍋�*/ filter:alpha(opacity=0);/* 閸忕厧顔怚E */ }
.sort_save_btn{ width:100px; height:38px; background:url(../../images/esys/save-xbtn.png) no-repeat; font-size:16px; color:#FFFFFF; border:none;margin: 0 auto; display:block;margin-top: 40px; font-family:Microsoft YaHei; cursor:pointer; outline:none}
#imghead img{width: 232px; height: 162px;}
.github{background-position: 0px -20px;}

